%h3 Dashboard

%table#books_list
  %thead
    %tr
      %th Title
      %th Reference number
      %th Edition
      %th Active
      %th Type
      %th Author
      %th
  
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.reference_number
        %td= book.edition
        %td= book.active
        %td= book.book_type
        %td= book.author
        %td= link_to 'Show', book

%br
%br
