%h3 Dashboard

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Reference number
      %th Edition
      %th Active
      %th Type
      %th Author
      %th
  
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.reference_number
        %td= book.edition
        %td= book.active
        %td= book.book_type
        %td= book.author
        %td= link_to 'Show', book

%br

- if current_user.loans.present?
  %h4 Loan History
  %table.table.table-hover
    %thead
      %tr 
        %th Title
        %th Reference
        %th Borrow date
        %th Return date
        %th Fine
    %tbody
    - current_user.loans.reverse_each do |loan| 
      %tr
        %td= loan.book.title
        %td= loan.book.reference_number
        %td= loan.borrowed_at.strftime("%d/%m/%Y")
        - if loan.returned_at == nil
          %td Book still borrowed, due #{loan.to_be_returned_at.strftime("%d/%m/%Y")}
        - else
          %td= loan.returned_at.strftime("%d/%m/%Y")
        - if loan.fine.present?
          - if loan.fine.charged_at == nil 
            %td Amount: #{loan.fine.amount} - Unpaid
          - else 
            %td Amount: #{loan.fine.amount} - Paid
        - else 
          %td No fine
