%h3 Dashboard

%table.table.table-hover#books_list
  %thead
    %tr
      %th Title
      %th Reference number
      %th Edition
      %th Active
      %th Type
      %th Author
      %th
  
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.reference_number
        %td= book.edition
        %td= book.active
        %td= book.book_type
        %td= book.author
        %td= link_to 'Show', book

%br

- if current_user.loans.present?
  %h4 Loan History
  %table.table.table-hover
  %table.table.table-hover#loan_history
    %thead
      %tr 
        %th Title
        %th Reference
        %th Borrow date
        %th Return date
        %th Fine
    %tbody
    - current_user.loans.reverse_each do |loan| 
      %tr
        %td= loan.book.title
        %td= loan.book.reference_number
        %td= loan.borrowed_at.strftime("%d/%m/%Y")
        - if loan.returned_at.nil?
          - if loan.overdue?
            - if loan.has_fine?
              %td Overdue loan, fine charged 
              %td Amount: $#{loan.amount_pending} - Unpaid
            - else
              %td Overdue loan 
              %td Return book before #{(loan.to_be_returned_at + 1.week).strftime("%d/%m/%Y")} to avoid fine.
          - else
            %td Book still borrowed, due #{loan.to_be_returned_at.strftime("%d/%m/%Y")}
            %td N/A
        - else
          %td= loan.returned_at.strftime("%d/%m/%Y")
          - if loan.fine.nil?
            %td No fine
          - else 
            %td Amount: $#{loan.amount_pending} - Paid