%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Reference number:
  = @book.reference_number
%p
  %b Edition:
  = @book.edition
%p
  %b Active:
  = @book.active
%p
  %b Type:
  = @book.type
%p
  %b Author:
  = @book.author

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
