= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message

  = f.label 'Cover Image'
  = f.file_field :cover_image

  = f.label 'Book Content'
  = f.file_field :content

  .actions
    = f.submit 'Save'
