%h1 Listing books

%table
  %thead
    %tr
      %th Title
      %th Reference number
      %th Edition
      %th Active
      %th Type
      %th Author
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.reference_number
        %td= book.edition
        %td= book.active
        %td= book.book_type
        %td= book.author
        %td= link_to 'Show', book

%br

= link_to 'New Book', new_book_path
- if current_user.library_manager?
  = link_to 'Back to dashboard', library_managers_dashboard_path
- elsif current_user.student?
  = link_to 'Back to dashboard', students_dashboard_path
- elsif current_user.staff?
  = link_to 'Back to dashboard', staff_dashboard_path
