%h3 #{@book.title}
%p By: #{@book.author}

%h5 Cover Image
- if @book.cover_image.attached?
  = image_tag @book.cover_image
- else
  %p No image

%p Book type: #{@book.book_type}
%p Active: #{@book.active}
%p Reference Number: #{@book.reference_number}
%p Edition: #{@book.edition}

- if @loan.present?
  %h2 About your loan
  %p Borrowed at: #{@loan.borrowed_at.strftime("%d/%m/%Y %T")}
  - if @loan.renewed_at != nil
    %p Renewed at: #{@loan.renewed_at.strftime("%d/%m/%Y %T")}
  %p Returned at: #{@loan.returned_at}
  %p To be returned at: #{@loan.to_be_returned_at.strftime("%d/%m/%Y %T")}
  - if @book.content.attached?
    = link_to 'Read', url_for(@book.content), target: '_blank', class: 'btn btn-info'

  - if @loan.overdue?
    %p This loan is overdue, you must pay $#{@loan.amount_pending} AUD
    - if current_user.student?
      = link_to 'Pay fine', students_pay_fine_path(@book), class: 'btn btn-danger'
    - elsif current_user.staff?
      = link_to 'Pay fine', staff_pay_fine_path(@book), class: 'btn btn-danger'
  - else
    = link_to 'Return book', book_return_path(@book), class: 'btn btn-primary'
    - if @loan.to_be_returned_at >= Time.now && @book.max_renewal.present?
      = link_to 'Renew book', book_renew_path(@book), class: 'btn btn-primary'

- else
  - if current_user.has_overdue_loans?
    %p You cannot borrow this book as you have an overdue loan which needs to be returned.
  - else
    - if current_user.student?
      = link_to 'Borrow book', students_borrow_book_path(@book)
    - elsif current_user.staff?
      = link_to 'Borrow book', staff_borrow_book_path(@book)

%br
%br

- if current_user.library_manager?
  - if @book.loans.present?
    %h2 Loan History
    %table
      %thead
        %tr 
          %th User ID
          %th Borrow date
          %th Return date
          %th Late return
          %th Fine
      %tbody
      - @book.loans.each do |loan| 
        %tr
          %td= loan.user.id
          %td= loan.borrowed_at.strftime("%d/%m/%Y")
          - if loan.returned_at.nil?
            - if loan.overdue?
              - if loan.has_fine?
                %td Overdue loan, fine charged
                %td Yes
                %td Amount: $#{loan.amount_pending} - Unpaid
              - else
                %td Overdue loan 
                %td Yes
                %td Book to be returned before #{(loan.to_be_returned_at + 1.week).strftime("%d/%m/%Y")} to avoid fine.
            - else 
              %td Book still borrowed, due #{loan.to_be_returned_at.strftime("%d/%m/%Y")}
              %td N/A
              %td N/A
          - else 
            %td= loan.returned_at.strftime("%d/%m/%Y")
            - if loan.fine.nil?
              %td No 
              %td No fine
            - else 
              %td Yes
              %td Amount: $#{loan.amount_pending} - Paid
  %br
  = link_to 'Edit', edit_book_path(@book)
= link_to 'Back', books_path
