!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title E-Library
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    %b Library Manager
    %br
    = link_to 'Book Requests', book_requests_path
    = yield
    
    = link_to 'Log out', destroy_user_session_path, method: :delete
    = link_to 'Change info', edit_user_registration_path
    = link_to 'Books management', books_path
