!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title E-Library
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/favicons'
  %body
    .page#container
      .header.no-print#header
        - if user_signed_in?
          = render partial: 'layouts/navbar'
        - else
          = yield :header
      
      .d-flex#wrapper
        - if user_signed_in?
          = render partial: 'layouts/sidebar'
        .col-8.col-md-10#main_content
          - if notice.present?
            %p.notice= notice
          - if alert.present?
            %p.alert= alert
          = yield
